<div class="card text-center footer">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">Sản phẩm thiết kế và hoàn thiện bởi nhóm </h5>
        <p class="card-text">Database:Huy Vương, Quốc Bảo</p>
        <p class="card-text">Web by: Hiếu Đỗ</p>
    </div>
    <div class="card-footer text-muted">
        design by apple meo meo
    </div>
</div>