<div class="mt-5 form-login">
    <form action="/insert-user" method="POST"> <!-- Thay đổi phương thức thành POST và action thành /insert -->
        <h2 style="text-align: center;">Thêm khách hàng</h2>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Customer_ID</label>
            <input type="text" class="form-control" id="Input-Costumer_ID" name="customer_id"
                placeholder="Mã khách hàng">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">First_name</label>
            <input type="text" class="form-control" id="Input-Firt_name" name="first_name" placeholder="Họ">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last_name</label>
            <input type="text" class="form-control" id="Input-Last_name" name="last_name" placeholder="Tên">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">address</label>
            <input type="text" class="form-control" id="Input-adress" name="address" placeholder="Địa chỉ">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            <input type="text" class="form-control" id="Input-Cty" name="city" placeholder="Thành Phố">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="text" class="form-control" id="Input-phone" name="phone" placeholder="Số điện thoại">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Identity_number</label>
            <input type="text" class="form-control" id="Input-Identity_number" name="identity_number"
                placeholder="Số định danh">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Service_id</label>
            <input type="text" class="form-control" id="Input-Service_id" name="service_id" placeholder="Mã dịch vụ">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>